.sd-btn {
    border-width: solid;
    border-width: 1px;
    border-color: var(--btn-border-1);
    display: inline-block;
}

.sd-btn-o {
    border-width: solid;
    border-width: 1px;
    border-color: var(--btn-border-1);
    background-color: var(--btn-bg-1);
    color: #FFFFFF;
}

.sd-btn-large {
    border-width: solid;
    border-width: 1px;
    border-color: var(--btn-border-1);
    width: 100%;
}

.sd-btn {
    border-width: solid;
    border-width: 1px;
    border-color: var(--btn-border-1);
}